PORT=3000
BASE=http://127.0.0.1
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=workplace-integration-solution

GOOGLE_CLIENT_ID=932265249325-bmah8d21d8r0dcqbhpasliog4pm8t2cs.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xx
GOOGLE_AUTH_REDIRECT_URI=auth/google-callback

MICROSOFT_CLIENT_SECRET=xx