PORT=3000
BASE=http://localhost
WEB_BASE=http://localhost:3001
NODE_ENV=development
ENCRYPTION_SECRET_KEY=xx
JWT_SECRET_KEY=xx
SKIP_OAUTH_STATE_CHECK=false

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=workplace-integration-solution

GOOGLE_CLIENT_ID=xx
GOOGLE_CLIENT_SECRET=xx
GOOGLE_AUTH_REDIRECT_URI=auth/google-auth-callback
GOOGLE_CONNECTION_REDIRECT_URI=auth/google-connection-callback

MICROSOFT_CLIENT_ID=xx
MICROSOFT_TENANT_ID=xx
MICROSOFT_CLIENT_SECRET=xx
MICROSOFT_AUTH_REDIRECT_URI=auth/microsoft-auth-callback
MICROSOFT_CONNECTION_REDIRECT_URI=auth/microsoft-connection-callback