PORT=3000
BASE=http://127.0.0.1
NODE_ENV=development
SECRET_KEY=xx

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=workplace-integration-solution

GOOGLE_CLIENT_ID=932265249325-jaa5mstcjar4vqtotseodp6hvijs07rp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xx
GOOGLE_AUTH_REDIRECT_URI=auth/google

MICROSOFT_CLIENT_SECRET=xx